.main_crypto {
  margin-block-start: 2rem;
  padding: 1rem;
}
#header_col {
  padding: 0;
}

.thead {
  border-block: rgba(0, 0, 0, 0.3) solid 1px;
}

.header {
  padding-block: 0.5rem;

  gap: 0.5rem;
}
.breakword {
  width: 100px;
}
.wordbreak {
  word-break: break-all;
}

// display: flex;
// justify-content: center !important;
// align-items: center;
