.global_container {
  padding-block: 1rem;
}

.global_description_container {
  display: flex;
  align-items: baseline;
  color: rgba(0, 0, 0, 0.7);
  font-size: 1rem;
  font-weight: 500;
  font-family: "SF UI Display", sans-serif;
}

.global_span {
  display: flex;
  align-items: baseline;
  gap: 0rem;
  padding-inline: 0.5rem;
  font-size: 1rem;
  font-weight: 800;
  text-transform: uppercase;
  color: black;
}

.global_span :is(p) {
  opacity: 1;
  margin-block-end: 0rem;
}

.global_desc_span {
  font-weight: 800;
  margin-inline-start: 0.5rem;
  display: flex;
  align-items: baseline;
  color: #16c784;
}

.global_desc_span :is(svg) {
  align-self: center;
}
