.header_row {
  padding: 0;
}

.header_container,
.header_darkmode {
  display: flex;
  align-items: center;
  font-family: "Inter", sans-serif;
  padding-block: 0.3rem;
  padding-inline-start: 0rem;
  font-size: 0.8rem;
}

.header_container {
  justify-content: start;
}

.header_darkmode {
  justify-content: end;
}
