@import "./Font.scss";

.header_row {
  justify-content: center;
}

.header_col {
  display: flex;
}

.header_container {
  display: flex;
  align-items: center;
  justify-content: start;
  font-family: "Inter", sans-serif;
  padding-block: 0.3rem;
  font-size: 0.8rem;
  margin-inline: 1rem;
}

.navbar-toggler {
  width: 30px;
  height: 20px;
  position: relative;
  transition: 0.5s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 0 !important;
}

.toggler-icon {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: var(--gray-9);
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

// When Navigation is Clicked
.navbar-toggler .top-bar {
  margin-top: 0px;
  transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  margin-top: 0px;
  transform: rotate(-135deg);
}

// // State when the navbar is collapsed
.navbar-toggler.collapsed .top-bar {
  margin-top: -10px;
  transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  margin-top: 10px;
  transform: rotate(0deg);
}

.btn .btn-outline-none:focus,
.btn .btn-outline-none:active {
  outline: none !important;
  border: none !important;
}

//navbar styling

.navbar {
  background-color: #d8e6ed;
}

.nav-link {
  margin-inline: 0.5rem;
  color: var(--gray-9);
  transition: all 0.3s ease;
  inline-size: auto;
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
}

.navbar-brand {
  display: flex;
  align-items: center;
  gap: 1rem;

  img {
    height: 1.8rem;
  }

  p {
    margin-block-end: 0;
    font-family: "Nunito Sans", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 900;
  }
}

.search_container {
  position: relative;
}

.form-control {
  margin: 0;
}

.search_icon {
  position: absolute;
  right: 20px;
  top: 30%;
  background-color: white;
}

@media screen and (min-width: 768px) {
  .navbar-expand-lg {
    border-block: rgba(0, 0, 0, 0.3) solid 1px;
  }
}

@media screen and (max-width: 768px) {
  .header_container {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .navbar > .container {
    padding: 0;
    margin: 0;
    inline-size: 100%;
    max-width: 100%;
  }

  .navbar-nav .nav-link {
    padding-block: 1rem;
    margin-inline: 0rem;
  }
}
